.git/*
App_Data/*
App_Start/*
bin/*
Content/*
fonts/*
obj/*
Properties/*
ApplicationInsights.config
favicon.ico
Global.asax
Global.asax.cs
packages.config
Project_Readme.html
Startup.cs
tGhWebsite.csproj
tGhWebsite.csproj.user
Web.config
Web.Debug.config
Web.Release.config